<div class="invoice-box">
<center>
<h1 style="float: center;">Editing Application Form</h1>
</center>
<br>
<%= render 'form', application_form: @application_form %>

<%= link_to 'Show', @application_form %>
</div>
<%#= link_to 'Back', application_forms_path %>
