<div class="invoice-box">

<center>
<h1 style="float: center;">New Application Form</h1>
</center>
<br>
<%= render 'form', application_form: @application_form %>
</div>
<br><br>
<%#= link_to 'Back', application_forms_path %>
